.file-card {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.file-card:hover {
    transform: scale(1.05);
}
.file-card .card-header {
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
.file-card .card-header .fa-ellipsis-h {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    cursor: pointer;
    z-index: 1001;
}
.file-card img.file-icon {
    max-width: 200px;
    max-height: 150px;
    margin-top: 20px;
    border-radius: 5px;
}
.file-card img.file-icon.non-image {
    width: 70px;
    height: 70px;
    margin-top: 20px;
}
.dropdown-menu {
    position: absolute;
    display: none;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 5px 0;
    z-index: 1000;
    min-width: 150px;
    right: 0;
    top: 100%;
}
.dropdown-menu.show {
    display: block;
}
.dropdown-menu .menu-item {
    padding: 8px 15px;
    cursor: pointer;
    font-size: 13px;
}
.dropdown-menu .menu-item:hover {
    background-color: #f5f5f5;
}
.dropdown-menu .divider {
    height: 1px;
    background-color: #e5e5e5;
    margin: 5px 0;
}
#searchUser::placeholder {
    color: #adb5bd;
}
.form-select.form-select-lg.mt-4{
    background-color: #f5f7f9;
}
#copyLink {
    transition: all 0.3s ease;
}

#copyLink:hover {
    background-color: #f8f9fa;
}

#userAccessList::-webkit-scrollbar {
    width: 6px;
}

#userAccessList::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

#userAccessList::-webkit-scrollbar-thumb {
    background: #c1c9d6;
    border-radius: 10px;
}

#userAccessList::-webkit-scrollbar-thumb:hover {
    background: #a8b2c1;
}

.user-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

@media (max-width: 576px) {
    .user-avatar {
        width: 32px !important;
        height: 32px !important;
        font-size: 14px !important;
    }

    .form-select {
        width: 100px !important;
        font-size: 0.75rem;
    }

    #copyLink, #doneButton {
        width: 100%;
    }
}